body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1E1E1E;
	color: #E0E0E0;
}
header {
	background: linear-gradient(90deg, #333, #444);
	color: white;
	padding: 2em 0;
	width: 100%;
	text-align: center;
	position: relative;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
header h1 {
	font-size: 2.5rem;
	letter-spacing: 1px;
	margin: 0;
}
.language-selector {
	position: absolute;
	top: 10px;
	right: 20px;
}
.language-selector select {
	background-color: #4FB0E6;
	color: white;
	border: none;
	padding: 5px;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
}
main {
	padding: 20px;
	width: 100%;
	max-width: 1450px; 
	display: flex;
	flex-direction: column;
	align-items: center;
}
.game {
	background-color: #2C2C2C;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
	max-width: 1100px;
	transition: transform 0.3s;
}
.game:hover {
	transform: scale(1.03);
}
h2 {
	font-size: 2rem;
	margin-bottom: 10px;
	text-align: center;
}
h2 a {
	color: #80C7F5;
	text-decoration: none;
	transition: color 0.3s;
}
h2 a:hover {
	color: #4FB0E6;
}
p {
	font-size: 1.1rem;
	text-align: justify;
	margin-bottom: 15px;
}
ul {
	list-style: none;
	padding: 0;
}
ul li {
	font-size: 1rem;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
ul li::before {
	content: '✔';
	margin-right: 10px;
	color: #4FB0E6;
}
.header-buttons {
	margin-top: 1em;
}
.header-button {
	background-color: #4FB0E6;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
	transition: background-color 0.3s, transform 0.2s;
}
.header-button:hover {
	background-color: #388E3C;
	transform: scale(1.05);
}
button.spoiler {
	cursor: pointer;
	background-color: #4FB0E6;
	color: white;
	border: none;
	padding: 10px 20px;
	width: 100%;
	font-size: 1.1rem;
	border-radius: 5px;
	transition: background-color 0.3s, transform 0.2s;
}
button.spoiler:hover {
	background-color: #388E3C;
	transform: scale(1.05);
}
.spoiler-content {
	display: none;
	padding: 10px;
	border-top: 1px solid #555;
	margin-top: 10px;
}
iframe {
	width: 100%;
	height: 800px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Carousel styles */
.carousel {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 20px 0;
	overflow: hidden;
	border-radius: 10px;
}
.carousel img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
	cursor: pointer;
}
.carousel img:hover {
	transform: scale(1.1);
}
.carousel-buttons {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.carousel-button {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	padding: 10px;
	cursor: pointer;
}

/* Media Queries for mobile */
@media (max-width: 768px) {
	header h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	p, ul li {
		font-size: 1rem;
	}
	.language-selector {
		top: 5px;
		right: 10px;
	}
}
